<div class='bg-gray-900 top-0 left-0 right-0 shadow-sm'>

    <div class='flex  md:flex-row items-center justify-between p-4 h-16 '>
        <div
             class='flex flex-row flex-nowrap justify-center items-center space-x-2 cursor-default select-none'>
            <img src='/favicon.ico'
                 alt='logo'
                 height="300"
                 class=' bg-black h-12 md:h-10 md:w-12 w-10'
                 width="200" />

                
            <h1 class='font-bold uppercase text-white text-lg md:text-2xl font-black'>

                中国黄石
            </h1>



        </div>



        <div class='  md:w-2/4 '>
            <i id='openMenu'
               class='bi-justify-left md:hidden text-4xl text-white'></i>
            <ul id='menu'
                class=" hidden fixed  md:relative top-0 left-0 right-0 bottom-0 bg-gray-800 md:bg-gray-900  z-20 md:flex flex-col md:flex-row items-center justify-around">

                <a href="/"
                   class='text- font-boldcenter    hover:text-green-400  text-white transition-colors font-sans   text-base md:text-sm font-bold '>
                    Home </a>
                <a href="[/=appUrl/]/?component_ref=dashboard"
                   class='text-center  font-bold   hover:text-green-400  text-white transition-colors font-sans   text-base md:text-sm font-bold '>
                    Dashboard </a><a
                   href='[/= appUrl /]/?component_ref=transactions&sub_component_ref=D'
                   class='text-center    hov font-bolder:text-green-400  text-white transition-colors font-sans   text-base md:text-sm font-bold '>
                    Deposit </a><a href=""
                   class='text-center    hover:text-green-400  te font-boldxt-white transition-colors font-sans   text-base md:text-sm font-bold '>
                    <a href='[/= appUrl /]/?component_ref=transactions&sub_component_ref=W'
                       class='text-center font-bold    hover:text-green-400  text-white transition-colors font-sans   text-base md:text-sm font-bold '>
                        Withdrawal </a>

                    <a href="/#abt"
                       class='text-center font-bold    hover:text-green-400  text-white transition-colors font-sans   text-base md:text-sm font-bold '>
                        Contact us </a>


                    [/ if (auth.user) { /]

                    <a href='/banking/authentications/log-out/'
                       role='button'
                       class='text-cent font-bolder  bg-green-500   hover:bg-green-400   text-white py-2 px-6 rounded transition-colors font-sans   text-base md:text-sm font-bold '>
                        Log out </a>




                    [/ } else { /]
                    <a href='/banking/authentications/sign-up/'
                       role='button'
                       class='text-cent font-bolder  uppercase bg-green-500   hover:bg-green-400   text-white py-2 px-6 rounded transition-colors font-sans   text-base md:text-sm font-bold '>
                        Sign up </a>



                    [/ } /]

                    <div class='md:hidden'
                         id='closeMenu'><i class='bi-x-circle text-4xl text-white'></i></div>


            </ul>
        </div>


    </div>
</div>