<p
  class="text-center md:text-left font-mono px-2 py-12 text-xl md:text-base font-bold text-black"
>
  Transaction Logs
</p>

<div class="overflow-x-auto bg-gray-50 w-12/12 mx-auto md:mx-0 md:w-full">
  <table class="w-full">
    [/ if (transactions.length > 0 ){ /]
    <tr class="text-center text-sm opacity-70 text-teal-500">
      <th class="py-6 font-normal">Transaction ID</th>
      <th class="py-6 font-normal">Date</th>
      <th class="py-6 font-normal">Amount</th>

      <th class="py-6 font-normal">Details</th>
    </tr>
    [/ } /] [/ if (transactions.length === 0 ){ /]

    <p class="bg-gray-50 py-12 text-center">No recent transactions</p>

    [/ } /] [/ transactions.map((t)=>{ /]

    <tr
      class="text-left hover:bg-gray-100 cursor-pointer border-t border-gray-300 text-base text-black bg-gray-50"
    >
      <td class="px-2 text-sm text-teal-700 opacity-70 text-center">
        [/=t.ref/]
      </td>
      <td class="py-6 px-2 text-gray-400 text-sm">
        [/= t.date.toLocaleString() /]
      </td>
      <td class="px-2 text-sm text-gray-700">&#165;/BTC [/=t.amount/]</td>
      <td class="text-sm overflow-x-auto px-2 text-sm text-gray-700">
        [/=t.details/]
      </td>
    </tr>

    [/ }) /]
  </table>
</div>
