<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投资膺</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/fv.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/css/odometer-theme-default.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/assets/css/crypto.css">
</head>
<body class="cr-home" data-spy="scroll" data-target=".cripto-main-navigation" data-offset="80">
    <!-- preloader - start -->
    <div id="cr-preloader"></div>
    <div class="up">
        <a href="#" class="cr-scrollup text-center"><i class="fas fa-arrow-up"></i></a>
    </div>


<!-- Start of Header section
    ============================================= -->
    <header id="cripto-header" class="cripto-header-section">
        <div class="container">
            <div class="cripto-main-navigation-wrapper d-flex justify-content-between position-relative">
                <div class="cripto-brand-logo">
                    <a href="#"><img src="/assets/img/crypto/logo/logo.png" alt=""></a>
                </div>
                <div class="cripto-navigation-menu d-flex align-items-center">
                    <nav class="cripto-main-navigation  clearfix ul-li">
                        <ul id="cripto-main-nav" class="nav navbar-nav clearfix">
                            <li> <a class="nav-link" href="#cripto-banner">主页</a></li>
                            <li> <a class="nav-link" href="#cr-live-market">资产价格</a></li>
                            <li> <a class="nav-link" href="#cr-testimonial">见证</a></li>
                            <li> <a class="nav-link" href="#cr-team">团队</a></li>
                         
                        </ul>
                    </nav>
                    <div class="cripto-btn text-center">
                        <a class="d-flex justify-content-center align-items-center" href="/banking/authentications/log-in/">登录</a>
                    </div>
                </div>
            </div>
            <div class="cr-mobile_menu position-relative">
                <div class="cr-mobile_menu_button cr-open_mobile_menu">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="cr-mobile_menu_wrap">
                    <div class="mobile_menu_overlay cr-open_mobile_menu"></div>
                    <div class="cr-mobile_menu_content">
                        <div class="cr-mobile_menu_close cr-open_mobile_menu">
                            <i class="fas fa-times"></i>
                        </div>
                        <div class="m-brand-logo text-center">
                            <a href="!#"><img src="/assets/img/crypto/logo/logo1.1.png" alt=""></a>
                        </div>
                        <nav class="cr-mobile-main-navigation  clearfix ul-li">
                           <ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                            <li> <a class="nav-link" href="#cripto-banner">主页</a></li>
                            <li> <a class="nav-link" href="#cr-live-market">资产价格</a></li>
                            <li> <a class="nav-link" href="#cr-testimonial">见证</a></li>
                            <li> <a class="nav-link" href="#cr-team">团队</a></li>
                            
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /Mobile-Menu -->
        </div>
    </header>
<!-- End of Header section
    ============================================= -->

<!-- Start of Banner section
    ============================================= -->
    <section id="cripto-banner" class="cripto-banner-section position-relative" data-background="/assets/img/crypto/bg/bn-bg.png">
        <span class="cr-banner-shape1 position-absolute"><img src="/assets/img/crypto/shape/s-sh1.png" alt=""></span>
        <span class="cr-banner-shape2 position-absolute"><img src="/assets/img/crypto/shape/s-sh2.png" alt=""></span>
        <span class="cr-banner-shape3 position-absolute"><img src="/assets/img/crypto/shape/bit1.png" alt=""></span>
        <span class="cr-banner-shape4 position-absolute"><img src="/assets/img/crypto/shape/bit2.png" alt=""></span>
        <span class="cr-banner-shape5 position-absolute"><img src="/assets/img/crypto/shape/bit3.png" alt=""></span>
        <span class="cr-banner-shape6 position-absolute"><img src="/assets/img/crypto/shape/st9.png" alt=""></span>
        <div class="container">
            <div class="cripto-banner-text cr-headline pera-content">
                <h1 class="wow fadeFromUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    领先的数字资产交易平台 <span></span>
                    <b></b>
                </h1>
                <p class="wow fadeFromUp" data-wow-delay="600ms" data-wow-duration="1500ms">多元化的数字资产交易和管理服务，满足多样化的交易需求</p>
                <div class="banner-btn wow fadeFromUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <div class="cr-banner-btn-wrapper d-flex  align-items-center">
                        <div class="cr-banner-btn">
                            <a class="d-flex justify-content-center align-items-center" href="/banking/authentications/log-in/">登录</a>
                        </div>
                        <div class="cr-banner-video-btn">
                            <a class="video_box" href="https://www.youtube.com/watch?v=zEjppy6Pta8">
                                <i class="fas fa-play"></i>
                                <span>它是如何工作的</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End of Banner section
    ============================================= -->

<!-- Start of partner section
    ============================================= -->
    <section id="cr-partner" class="cr-partner-section">
        <div class="container">
            <div class="cr-partner-content">
                <div class="cr-partner-slide owl-carousel">
                    <div class="cr-parner-img">
                        <a href="#"><img src="/assets/img/crypto/partner/p1.png" alt=""></a>
                    </div>
                    <div class="cr-parner-img">
                        <a href="#"><img src="/assets/img/crypto/partner/p2.png" alt=""></a>
                    </div>
                    <div class="cr-parner-img">
                        <a href="#"><img src="/assets/img/crypto/partner/p3.png" alt=""></a>
                    </div>
                    <div class="cr-parner-img">
                        <a href="#"><img src="/assets/img/crypto/partner/p4.png" alt=""></a>
                    </div>
                    <div class="cr-parner-img">
                        <a href="#"><img src="/assets/img/crypto/partner/p1.png" alt=""></a>
                    </div>
                    <div class="cr-parner-img">
                        <a href="#"><img src="/assets/img/crypto/partner/p1.png" alt=""></a>
                    </div>
                    <div class="cr-parner-img">
                        <a href="#"><img src="/assets/img/crypto/partner/p2.png" alt=""></a>
                    </div>
                    <div class="cr-parner-img">
                        <a href="#"><img src="/assets/img/crypto/partner/p3.png" alt=""></a>
                    </div>
                    <div class="cr-parner-img">
                        <a href="#"><img src="/assets/img/crypto/partner/p4.png" alt=""></a>
                    </div>
                    <div class="cr-parner-img">
                        <a href="#"><img src="/assets/img/crypto/partner/p1.png" alt=""></a>
                    </div>
                </div>
            </div>            
        </div>
    </section>
<!-- End of partner section
    ============================================= -->

<!-- Start of Feature section
    ============================================= -->
    <section id="cr-feature" class="cr-feature-section position-relative">
        <span class="cr-shape1 position-absolute"><img src="/assets/img/crypto/shape/sh1.png" alt=""></span>
        <span class="cr-shape2 position-absolute"><img src="/assets/img/crypto/shape/sh6.png" alt=""></span>
        <span class="cr-shape3 position-absolute"><img src="/assets/img/crypto/shape/st2.png" alt=""></span>
        <span class="cr-shape4 position-absolute"><img src="/assets/img/crypto/shape/st10.png" alt=""></span>
        <div class="container">
            <div class="cr-feature-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cr-feature-item-wrapper">
                            <div class="row">
                                <div class="col-md-6 wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <div class="cr-feature-item-innerbox">
                                        <div class="thx-inner-item">
                                            <div class="thx-inner-icon d-flex align-items-center justify-content-center">
                                                <img src="/assets/img/crypto/icon/ic1.png" alt="">
                                            </div>
                                            <div class="thx-inner-text cr-headline pera-content">
                                                <h3>易于转移</h3>
                                                <p>使用我们的平台转移加密货币是无缝且直接的。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 wow fadeFromUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                    <div class="cr-feature-item-innerbox">
                                        <div class="thx-inner-item">
                                            <div class="thx-inner-icon d-flex align-items-center justify-content-center">
                                                <img src="/assets/img/crypto/icon/ic2.png" alt="">
                                            </div>
                                            <div class="thx-inner-text cr-headline pera-content">
                                                <h3>担保交易 </h3>
                                                <p>离线存储、多重加密、24/7安全监控，全方位保护用户资产</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 wow fadeFromUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                                    <div class="cr-feature-item-innerbox">
                                        <div class="thx-inner-item">
                                            <div class="thx-inner-icon d-flex align-items-center justify-content-center">
                                                <img src="/assets/img/crypto/icon/ic3.png" alt="">
                                            </div>
                                            <div class="thx-inner-text cr-headline pera-content">
                                                <h3>数以百万计的信任</h3>
                                                <p>多个地区和国家的本地服务中心为许多业务线提供统一的区块链环境。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 wow fadeFromUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                                    <div class="cr-feature-item-innerbox">
                                        <div class="thx-inner-item">
                                            <div class="thx-inner-icon d-flex align-items-center justify-content-center">
                                                <img src="/assets/img/crypto/icon/ic4.png" alt="">
                                            </div>
                                            <div class="thx-inner-text cr-headline pera-content">
                                                <h3>随时随地交易</h3>
                                                <p>我们为交易者提供具有低风险人工智能管理算法的全球标准交易系统。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeFromRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="cr-feature-text-wrapper cr-headline pera-content">
                            <div class="cr-section-title cr-headline">
                                <span>特征</span>
                                <h2>最值得信赖和安全的加密货币交易平台</h2>
                            </div>
                            <div class="cr-feature-text-area">
                                <p>我们的客户遍布全球，在新加坡、美国、日本、韩国、香港等国家设有贸易办事处和运营中心。</p> 
                                <p>我们致力于探索投资机会。 目前，我们为超过100种虚拟资产提供交易和投资服务。 我们的总部位于塞舌尔。</p>
                                <div class="cr-btn">
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>        
<!-- End of Feature section
    ============================================= -->

<!-- Start of live market section
    ============================================= -->
    <section id="cr-live-market" class="cr-live-market-section position-relative">
     <span class="cr-shape1 position-absolute"><img src="/assets/img/crypto/shape/sh4.png" alt=""></span>
     <span class="cr-shape2 position-absolute"><img src="/assets/img/crypto/shape/sh2.png" alt=""></span>
     <span class="cr-shape3 position-absolute"><img src="/assets/img/crypto/shape/st2.png" alt=""></span>
     <div class="container">
        <div class="cr-section-title cr-headline text-center wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <span>实时价格</span>
            <h2>加密实时市场价格 </h2>
            <p>多元化的数字资产交易和管理服务，满足多样化的交易需求</p>
        </div>
        <div class="cr-live-market-content position-relative">
            <span class="cr-shape4 position-absolute"><img src="/assets/img/crypto/shape/st2.png" alt=""></span>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="cr-live-market-innerbox-item position-relative cr-headline pera-content">
                        <div class="thx-inner-item">
                            
                            <div class="thx-inner-content d-flex position-relative">
                           <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-1" lcw-coin="BTC" lcw-base="CNY" lcw-secondary="BTC" lcw-period="d" lcw-color-tx="#ffffff" lcw-color-pr="#58c7c5" lcw-color-bg="#1f2434" lcw-border-w="1" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="cr-live-market-innerbox-item position-relative cr-headline pera-content">
                        <div class="thx-inner-item">
                            
                            <div class="thx-inner-content d-flex position-relative">
                                <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-1" lcw-coin="ETH" lcw-base="CNY" lcw-secondary="BTC" lcw-period="d" lcw-color-tx="#ffffff" lcw-color-pr="#58c7c5" lcw-color-bg="#1f2434" lcw-border-w="1" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="cr-live-market-innerbox-item position-relative cr-headline pera-content">
                        <div class="thx-inner-item">
                            
                            <div class="thx-inner-content d-flex position-relative">
                                <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-1" lcw-coin="USDT" lcw-base="CNY" lcw-secondary="BTC" lcw-period="d" lcw-color-tx="#ffffff" lcw-color-pr="#58c7c5" lcw-color-bg="#1f2434" lcw-border-w="1" ></div>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="cr-live-market-innerbox-item position-relative cr-headline pera-content">
                        <div class="thx-inner-item">
                            
                            <div class="thx-inner-content d-flex position-relative">
                                <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-1" lcw-coin="BNB" lcw-base="CNY" lcw-secondary="BTC" lcw-period="d" lcw-color-tx="#ffffff" lcw-color-pr="#58c7c5" lcw-color-bg="#1f2434" lcw-border-w="1" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="cr-live-market-innerbox-item position-relative cr-headline pera-content">
                        <div class="thx-inner-item">
                            
                            <div class="thx-inner-content d-flex position-relative">
                                <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-1" lcw-coin="SOL" lcw-base="CNY" lcw-secondary="BTC" lcw-period="d" lcw-color-tx="#ffffff" lcw-color-pr="#58c7c5" lcw-color-bg="#1f2434" lcw-border-w="1" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="cr-live-market-innerbox-item position-relative cr-headline pera-content">
                        <div class="thx-inner-item">
                            
                            <div class="thx-inner-content d-flex position-relative">
                                <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-1" lcw-coin="DOGE" lcw-base="CNY" lcw-secondary="BTC" lcw-period="d" lcw-color-tx="#ffffff" lcw-color-pr="#58c7c5" lcw-color-bg="#1f2434" lcw-border-w="1" ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>        
<!-- End of live market section
    ============================================= -->

<!-- Start of why choose us section
    ============================================= -->
    <section id="cr-why-choose" class="cr-why-choose-section position-relative">
        <span class="cr-shape1 position-absolute"><img src="/assets/img/crypto/shape/sh1.png" alt=""></span>
        <span class="cr-shape2 position-absolute"><img src="/assets/img/crypto/shape/sh6.png" alt=""></span>
        <div class="container">
            <div class="cr-why-choose-content">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="cr-why-choose-text-area cr-headline pera-content">
                            <div class="cr-section-title cr-headline wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <span>为什么选择我们</span>
                                <h2>我们创建了一个易于投资的解决方案</h2>
                                <p>通过我们的平台进行投资为您提供了一种避免侵入性金融监管机构的简单方法，让您完全控制您的投资。</p>
                            </div>
                            <div class="cr-why-choose-item-wrapper">
                                <div class="cr-why-choose-item cr-headline pera-content wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                                    <div class="thx-inner-item d-flex align-items-center">
                                        <div class="thx-inner-icon d-flex align-items-center justify-content-center">
                                            <img src="/assets/img/crypto/icon/ic12.png" alt="">
                                        </div>
                                        <div class="thx-inner-text">
                                            <h3>高端安全</h3>
                                            <p>您可以通过提供无与伦比保护的仪表板完全控制您的资产。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="cr-why-choose-item cr-headline pera-content wow fadeFromUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                                    <div class="thx-inner-item d-flex align-items-center">
                                        <div class="thx-inner-icon d-flex align-items-center justify-content-center">
                                            <img src="/assets/img/crypto/icon/ic11.png" alt="">
                                        </div>
                                        <div class="thx-inner-text">
                                            <h3>正向关系</h3>
                                            <p>我们通过为您的请求和查询提供全面的技术帮助来连接这些点。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeFromRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="cr-why-choose-img">
                            <img src="/assets/img/crypto/misc/wc1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>        
<!-- End of why choose us section
    ============================================= -->

<!-- Start of exchange section
    ============================================= --> 
    <section id="cr-exchange" class="cr-exchange-section position-relative">
        <span class="cr-shape1 position-absolute"><img src="/assets/img/crypto/shape/sh4.png" alt=""></span>
        <span class="cr-shape2 position-absolute"><img src="/assets/img/crypto/shape/sh2.png" alt=""></span>
        <div class="container">
            <div class="cr-exchange-content">
                <div class="row">
                    <div class="col-lg-6 wow fadeFromLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="cr-exchange-img">
                            <img src="/assets/img/crypto/misc/ex.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeFromRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="cr-exchange-text">
                            <div class="cr-section-title cr-headline">
                                <span>资产转换器</span>
                                <h2>以当地货币查看您的资产价值
                                </h2>
                                <p>使用下方的资产计算器轻松转换资产价值</p>
                            </div>
                            <div class="cr-exchange-calculator">
                                <div class="cr-calculator-input-wrapper">
                                    <!-- Crypto Converter ⚡ Widget --><crypto-converter-widget shadow symbol live background-color="#383a59" border-radius="0.60rem" fiat="chinese-yuan-renminbi" crypto="bitcoin" amount="1" decimal-places="2"></crypto-converter-widget><script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"></script><!-- /Crypto Converter ⚡ Widget -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>       
<!-- End of exchange section
    ============================================= -->





<!-- Start of testimonial section
    ============================================= -->
    <section id="cr-testimonial" class="cr-testimonial-section">
        <div class="container">
            <div class="cr-section-title cr-headline wow fadeFromRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <h2>看看我们的客户对我们的评价
                </h2>
            </div>
            <div class="cr-testimonial-content">
                <div class="row">
                    <div class="col-lg-4 wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="cr-testimonial-innerbox text-center">
                            <div class="thx-inner-item">
                                <div class="thx-inner-icon">
                                    <img src="/assets/img/crypto/icon/ic13.png">
                                </div>
                                <div class="thx-inner-text">
                                    “作为一名投资者，我在 投资膺 的帮助下度过了愉快的时光，这是我用过的最好的加密货币交易所。 为我们每个持有者提供优质的服务。 他们很棒，我强烈推荐他们！”
                                </div>
                                <div class="thx-inner-author d-flex align-items-center justify-content-center">
                                    <div class="thx-author-img">
                                        <img src="/assets/img/crypto/misc/tst1.png" alt="">
                                    </div>
                                    <div class="thx-author-text cr-headline">
                                        <h3>
                                            Viggo Hutton</h3>
                                        <span>Los Angeles. CA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeFromUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="cr-testimonial-innerbox text-center">
                            <div class="thx-inner-item">
                                <div class="thx-inner-icon">
                                    <img src="/assets/img/crypto/icon/ic13.png">
                                </div>
                                <div class="thx-inner-text">
                                    “我一直在使用 投资膺 进行所有加密货币交易，这是一个 P2P 销售市场。 那里的供应商之间的效率、速度和安全性都很高。”
                                </div><br>
                                <div class="thx-inner-author d-flex align-items-center justify-content-center">
                                    <div class="thx-author-img">
                                        <img src="/assets/img/crypto/misc/tst2.png" alt="">
                                    </div><br>
                                    <div class="thx-author-text cr-headline">
                                        <h3>Emilly</h3>
                                        <span>Hong Kong</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeFromUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="cr-testimonial-innerbox text-center">
                            <div class="thx-inner-item">
                                <div class="thx-inner-icon">
                                    <img src="/assets/img/crypto/icon/ic13.png">
                                </div>
                                <div class="thx-inner-text">
                                    “我想评估这个投资网站。 该交易所提供快速存取款、市场定价和交易量。 他们的钱包使存款和取款变得容易。 没有提款或存款被拒绝。”
                                </div>
                                <div class="thx-inner-author d-flex align-items-center justify-content-center">
                                    <div class="thx-author-img">
                                        <img src="/assets/img/crypto/misc/tst3.png" alt="">
                                    </div>
                                    <div class="thx-author-text cr-headline">
                                        <h3>Marielle Wigington</h3>
                                        <span>Europe</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End of testimonial section
    ============================================= -->

<!-- Start of Team section
    ============================================= -->
    <section id="cr-team" class="cr-team-section position-relative">
        <span class="cr-shape1 position-absolute"><img src="/assets/img/crypto/shape/sh1.png" alt=""></span>
        <span class="cr-shape2 position-absolute"><img src="/assets/img/crypto/shape/sh6.png" alt=""></span>
        <div class="container">
            <div class="cr-section-title text-center cr-headline wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <h2>我们积极进取的团队</h2>
                <p>受过培训，可提供其他地方无法找到的卓越品质的服务。</p>
            </div>
            <div class="cr-team-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="cr-team-inner-item">
                            <div class="thx-inner-item d-flex align-items-center">
                                <div class="thx-inner-img">
                                    <img src="/assets/img/crypto/misc/tm1.png" alt="">
                                </div>
                                <div class="thx-inner-text cr-headline pera-content">
                                    <h3>Jane Cooper</h3>
                                    <p>Investor in firm</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="cr-team-inner-item">
                            <div class="thx-inner-item d-flex align-items-center">
                                <div class="thx-inner-img">
                                    <img src="/assets/img/crypto/misc/tm1.png" alt="">
                                </div>
                                <div class="thx-inner-text cr-headline pera-content">
                                    <h3>Jenny Wilson</h3>
                                    <p>Investor in firm</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="cr-team-inner-item">
                            <div class="thx-inner-item d-flex align-items-center">
                                <div class="thx-inner-img">
                                    <img src="/assets/img/crypto/misc/tm1.png" alt="">
                                </div>
                                <div class="thx-inner-text cr-headline pera-content">
                                    <h3>Eleanor Pena</h3>
                                    <p>Investor in firm</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="cr-team-inner-item">
                            <div class="thx-inner-item d-flex align-items-center">
                                <div class="thx-inner-img">
                                    <img src="/assets/img/crypto/misc/tm1.png" alt="">
                                </div>
                                <div class="thx-inner-text cr-headline pera-content">
                                    <h3>Leslie Alexander</h3>
                                    <p>Investor in firm</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="800ms" data-wow-duration="1500ms">
                        <div class="cr-team-inner-item">
                            <div class="thx-inner-item d-flex align-items-center">
                                <div class="thx-inner-img">
                                    <img src="/assets/img/crypto/misc/tm1.png" alt="">
                                </div>
                                <div class="thx-inner-text cr-headline pera-content">
                                    <h3>Robert Fox</h3>
                                    <p>Investor in firm</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeFromUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
                        <div class="cr-team-inner-item">
                            <div class="thx-inner-item d-flex align-items-center">
                                <div class="thx-inner-img">
                                    <img src="/assets/img/crypto/misc/tm1.png" alt="">
                                </div>
                                <div class="thx-inner-text cr-headline pera-content">
                                    <h3>Floyd Miles</h3>
                                    <p>Investor in firm</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div> 
        </div>
    </section>                
<!-- End of Team section
    ============================================= -->

<!-- Start of Register  section
    ============================================= -->
    <section id="cr-register" class="cr-register-section position-relative" data-background="/assets/img/crypto/bg/rg-bg.png">
        <div class="cr-register-img position-absolute">
         
        </div>
        <div class="container">
            <div class="cr-register-content text-center">
                <div class="cr-section-title text-center cr-headline">
                    <h2>立即开始交易</h2>
                    <p>从传统投资中脱颖而出，领先于金融游戏</p>
                </div>
                <div class="cr-btn d-flex justify-content-center">
                    <a class="d-flex justify-content-center align-items-center" href="/banking/authentications/log-in/">现在登录</a>
                </div>
            </div>
        </div>
    </section>        
<!-- End of Register section
    ============================================= -->

<!-- Start of Footer  section
    ============================================= -->
    <section id="cr-footer" class="cr-footer-section position-relative">
        <span class="cr-shape1 position-absolute"><img src="/assets/img/crypto/shape/sh5.png" alt=""></span>
        <div class="container">
            <div class="cr-footer-content d-flex">
                <div class="cr-footer-widget-left">
                    <div class="cr-footer-widget">
                        <div class="logo-widget d-flex align-items-center">
                            <div class="footer-logo">
                                <a href="#"><img src="/assets/img/crypto/logo/logo.png" alt=""></a>
                            </div>
                            <div class="logo-text">
                                领先的数字资产交易平台
                            </div>
                        </div>
                    </div>
                    <div class="cr-footer-widget-area d-flex justify-content-between">
                        
                        <div class="cr-footer-widget cr-headline pera-content ul-li-block">
                            <div class="menu-widget">
                                <h3 class="widget-title">Quick Links</h3>
                                <ul>
                                    <li> <a class="nav-link" href="#cripto-banner">主页</a></li>
                            <li> <a class="nav-link" href="#cr-live-market">资产价格</a></li>
                            <li> <a class="nav-link" href="#cr-testimonial">见证</a></li>
                            <li> <a class="nav-link" href="#cr-team">团队</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="cr-footer-widget cr-headline pera-content ul-li-block">
                            <div class="address-widget">
                                <h3 class="widget-title">Office Address</h3>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> <span> Flat C21/FlGlee Bldg 77-81 Kok Street,  Chai Wan, Hong Kong</span></li>
                                    <li><i class="fas fa-envelope"></i> <span> support@investying.com </span> </li>
                                    <li><i class="fas fa-phone"></i> <span> 85226991198</span> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="cr-footer-copyright">
            <div class="container">
                <div class="cr-footer-copyright-content d-flex justify-content-between">
                    <div class="copyright-text">
                        Copyright@投资膺 版权所有.
                    </div>
                   
                </div>
            </div>
        </div>
    </section>        
<!-- End of Footer  section
    ============================================= -->    

    <!-- JS library -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/appear.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/jquery.fancybox.js"></script>
    <script src="/assets/js/tilt.jquery.min.js"></script>
    <script src="/assets/js/owl.js"></script>
    <script src="/assets/js/typer-new.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/js/odometer.js"></script>
    <script src="/assets/js/parallax-scroll.js"></script>
    <script src="/assets/js/knob.js"></script>
    <script src="/assets/js/crypto.js"></script>
</body>
</html>       